@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700|Noto+Sans:400,700);

html {
    font-size: 75%;
}

.container {
    padding: 4rem 0;
}

.article.list {
    .article {
        .date { color: #666; }
    }
    margin: 0 0 2rem;
}

.article.single {
    .title {
        .text { margin: 0; }
        .date { color: #666; }
        margin: 0 0 3rem;
    }
}
