<footer>
  <p>
    <a href="https://www.henry40408.com"><img src="https://img.shields.io/badge/Author-Henry%20Wu-blue.svg" alt="Author: Henry Wu"></a>
    <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img src="https://img.shields.io/badge/License-CC%20BY--NC--ND%204.0-brightgreen.svg" alt="License: CC BY-NC-ND 4.0" /></a>
    <a href="https://circleci.com/gh/henry40408/henry40408.github.io"><img src="https://circleci.com/gh/henry40408/henry40408.github.io/tree/develop.svg?style=shield" alt="CircleCI" /></a>
  </p>
</footer>
