<div class="row">
  <div id="site-header" class="column">
    <h1 id="site-name" class="ui center aligned text">
      <a href="/">
        <img src="{{ "/assets/images/avatar.png" | relative_url }}" class="ui centered circular bordered avatar small image" alt="Avatar" />
        <div>Henry Wu</div>
      </a>
    </h1>
    <div id="site-nav">
      <a class="ui small compact button" href="{{ "/" | relative_url }}">Home</a>
      <a class="ui small compact button" href="{{ "/profile.html" | relative_url }}">Profile</a>
      <div class="mobile only"></div>
      <a class="ui small compact black icon button" href="https://github.com/henry40408"><i class="github icon"></i></a>
      <a class="ui small compact green icon button" href="https://medium.com/henry40408"><i class="medium icon"></i></a>
      <a class="ui small compact orange icon button" href="{{ "feed.xml" | relative_url }}"><i class="rss icon"></i></a>
    </div>
  </div>
</div>
