<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" crossorigin="anonymous" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="></script>
<!-- START of highlight.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js" crossorigin="anonymous" integrity="sha256-KbfTjB0WZ8vvXngdpJGY3Yp3xKk+tttbqClO11anCIU="></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/erb.min.js" integrity="sha256-y1GoHkhxaLZnpbYHxWStTx5kY5ZwAkIiJvaQIN0WQBs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/elixir.min.js" integrity="sha256-3sM9jzGL9ciI7PDoLhz2yX4afw1ZSqP6k8aW90P0q48=" crossorigin="anonymous"></script>
<!-- END of highlight.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" crossorigin="anonymous" integrity="sha256-flVaeawsBV96vCHiLmXn03IRJym7+ZfcLVvUWONCas8="></script>
<script src="{{ "/javascripts/all.js" | relative_url }}"></script>
