<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= "#{current_page.data.title || "未命名"} | henry40408" %></title>

  <%= stylesheet_link_tag "tomorrow-pygments/css/tomorrow.css" %>
  <%= stylesheet_link_tag "github-markdown-css/github-markdown.css" %>
  <%= stylesheet_link_tag :site %>
</head>
