---
title: 首頁
---

<div class="row">
  <div id="site-header" class="column">
    <h1 id="site-name">henry40408 <small><%= link_to "about me", "about.html" %></small></h1>
    <h2 id="site-slogan">my blog, occasionally-weekly updated</h2>
  </div>
</div>

<%= partial "partials/articles", locals: { articles: blog.articles } %>
