---
title: 首頁
---

<div class="row">
  <div id="site-header" class="column">
    <%= partial "partials/heading" %>
  </div>
</div>

<div class="row">
  <div class="column">
    <p><%= data[:config][:site][:description] %></p>
  </div>
</div>

<div class="row">
  <div class="column">
    <h2>Articles</h2>
    <%= partial "partials/articles", locals: { articles: blog.articles } %>
  </div>
</div>
