---
title: 首頁
---

<h2>寫前端的後端工程師</h2>

<section class="article list">
  <% blog.articles.each do |article| %>
    <div class="article">
      <div class="title">
        <span><%= link_to article.title, article.url %></span>
        <small class="date"><%= article.date.strftime "%Y-%m-%d %H:%M:%S" %></small>
      </div>
      <div class="tags"><%= article.tags.join ', ' %></div>
      <div class="summary">
        <%= article.summary %>
      </div>
    </div>
  <% end %>
</section>
