---
title: 首頁
---

<div class="page-header">
  <h1>henry40408 <small><%= link_to "about me", "about.html" %></small></h1>
  <h2>my blog, occasionally-weekly updated</h2>
</div>

<%= partial "partials/articles", locals: { articles: blog.articles } %>
