---
title: 首頁
---

<div class="row">
  <div id="site-header" class="column">
    <%= partial "partials/heading" %>
  </div>
</div>

<div class="row">
  <div class="column">
    <p>I am software engineer in Taipei, currently work in <a href="https://hahow.in">Hahow</a>, mostly developing Node.js applications. I also work on <a href="https://github.com/henry40408">a bunch of projects</a> on GitHub.</p>
  </div>
</div>

<div class="row">
  <div class="column">
    <h2>Articles</h2>
    <%= partial "partials/articles", locals: { articles: blog.articles } %>
  </div>
</div>
