---
title: Profile
layout: page
---

%p= data[:config][:site][:description]

:escaped
  ## Skills

  * Backend
    * **Ruby on Rails 4**
    * PHP5
  * DevOps
    * **Amazon Web Services** (AWS)
    * **Git** / GitHub flow / Gitflow
    * Ansible / Chef
    * Packer
    * Terraform
    * Vagrant
  * Frontend
    * **ECMAScript 6** (Babel)
    * CSS3
    * React, Redux
    * ReactiveX
  * Linux Administration
    * **LPIC 101**
  * Mobile
    * **React Native**
    * Android / Java
    * iOS / Objective-C, Swift 2
    * fastlane
  * Hobby
    * **Docker**
    * Elixir
    * erlang

  ## Portfolio

  ### Ruby on Rails 4

  * Budget Calculation System
  * [Hai Xia Info](https://www.haixia-info.com/)

  ### Drupal 7

  * [The Taiwan Political Science Review](https://www.tpsr.tw/)

  ### Wordpress 4

  * [LIOU CHIH-SHIAN](https://www.csliou.com/)
  * [GoldenMelody 32nd](https://goldenmelody.myceto.com/)
  * [the Plan b](https://www.theplanb.cc/)

  ## Certificates

  ### LPIC 101

  > Linux Professional Institute, 117-101
  > 2013-06 - 2018-06
