<div class="row">
  <div class="column">
    <p><%= link_to 'home', '/' %></p>
    <h1><%= tagname %></h1>
  </div>
</div>

<div class="row">
  <div class="column">
    <%= partial "partials/articles", locals: { articles: articles } %>
  </div>
</div>
