<div class="row">
  <div class="column">
    <%= partial "partials/heading" %>
  </div>
</div>

<div class="row">
  <header class="column">
    <h1>Tagged with <strong><%= tagname %></strong></h1>
  </header>
</div>

<div class="row">
  <div class="column">
    <%= partial "partials/articles", locals: { articles: articles } %>
  </div>
</div>
